.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-scale infinite 4s linear;
  height: 80px;
  width: 80px;
}

.App-header {
  background-color: #000;
  height: 130px;
  padding: 20px;
  color: aliceblue;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-footer {
  background-color: #000000;
  height: 30px;
  padding: 20px;
}

.Footer-text {
  color: aliceblue;
  padding-left: 20px;
  font-size: 14px;
}

.Game-area {
  width: 94%;
  height: 510px;
  max-width: 500px;
  margin: 0 auto;
}

.Game-of-life {
  background-color: aliceblue;
  height: 400px;
  width: 100%;
  overflow: hidden;
}

.Game-cellule {
  float: left;
  width: 8px;
  height: 8px;
  border: 1px solid #ccc;
}

.Game-buttons {
  width: 100%;
  margin-top: 20px;
}

@keyframes App-logo-scale {
  from { transform: scale(0.8); }
  to { transform: scale(1.2); }
}
