<div ngClass="game-buttons">
  <app-button ngClass="game-button" label="Random" value="random" (buttonClick)="clickHandler('random')"></app-button>
  <app-button ngClass="game-button" label="Stop"   value="stop"   (buttonClick)="clickHandler('stop')"></app-button>
  <app-button ngClass="game-button" label="Reset"  value="reset"  (buttonClick)="clickHandler('reset')"></app-button>
  <app-button ngClass="game-button" label="Start"  value="start"  (buttonClick)="clickHandler('start')"></app-button>
</div>
